<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗編集</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h2 class="header">店舗編集</h2>
	
	<form th:action="@{/edit-restaurant}" method="POST"
	        th:object="${restaurantUpdateForm}">
	   【店舗ID】<br>
	    <p th:text="*{restaurantId}"><p>
	    <input type="hidden" th:field="*{restaurantId}">
	    <div th:if="${#fields.hasErrors('restaurantId')}" th:errors="*{restaurantId}" class="error-msg"></div><br>
	   【店舗名】<br>
	    <input type="text" th:field="*{restaurantName}"><br>
        <div th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}" class="error-msg"></div><br>
       【キャッチフレーズ】<br>
        <input type="text" th:field="*{tagline}"><br>
	    <div th:if="${#fields.hasErrors('tagline')}" th:errors="*{tagline}" class="error-msg"></div><br>
	    <input type="submit" value="Edit" class="btn">
		
	</form><br>
	
	<form th:action="@{/ad-restaurant-search}" method="POST"
	        th:object="${restaurantUpdateForm}">
		<input type="hidden" th:field="*{restaurantId}">
		<input type="hidden" th:field="*{restaurantName}">
		<input type="submit" value="Back" class="button">
	</form>
	<br>
	<a th:href="@{/ad-top}" class="return">Back to admin menu</a>
	
</body>
</html>